@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

/* background-color : #F8F9FA
border-line : lightgrey
box-shadow : rgba(100, 100, 100, 0.7)*/

* {
    font-family:  'NanumSquare', sans-serif;
}

body {
    background-color: #F8F9FA;
}

.navbar{
    padding: 20px;
}

.nav-item{
    padding: 0px 0px 0px 40px;
    font-weight: bold;
}

.nav-link {
    font-size: 20px;
}

a.nav-link-active{
    color:#7158F3; !important;
}

.panel{
    border-style: solid;
    border-color: lightgrey;
    border-radius: 30px;
    box-shadow: 0px 0px 4px 4px rgba(200, 200, 200, 0.7);
    margin: 20px;
    padding: 20px;
    width: 1850px; /*debug*/
    height: 1200px; /*debug*/
}

.news-container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: "sidebar-a main sidebar-b";
}

.news-item-container h5{
    margin : 1em;
    text-align: left;
}

.news-item-container h6{
    margin : 2em 0 0 1em;
    text-align: left;
    color: #7158F3;
    font-weight: bold;
}

.news-item-container:nth-child(1), .news-item-container:nth-child(2){
    border-right: 1px solid lightgrey;
}

.news-item-container{
    height: inherit;
}

.news-item-container:nth-child(1){
    /*background-color: #D0CECE; !*debug*!*/
    grid-area: sidebar-a;
}


.news-item-container:nth-child(2){
    /*background-color: #EBF0F9; !*debug*!*/
    grid-area: main;
}

.news-item-container:nth-child(3){
    /*background-color: #f5c6cb; !*debug*!*/
    grid-area: sidebar-b;
}

.list-group-item{
    background-color: transparent;
    border: none;
    margin: 10px 0px;
}

span.mostread-news-ranking{
    font-size: 1.1em;
    font-weight: bold;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: black;
    text-decoration: none;
}

a.mostread-news-category{
    display: block;
    color: #70AD47;
    font-weight: bold;
    padding: 10px 0px;
}

a.mostread-news-title{
    display: block;
    padding: 10px 0px;
}

.primary-news-category{
    margin: 20px;
}

.btn{
    color: #ffffff;
}

.btn:hover{
    background-color: rgba(113,88,243,0.6);
}

.btn-check:active+.btn-outline-primary, .btn-check:checked+.btn-outline-primary{
    background-color: #7158F3;
    border-color: transparent;
}

.btn-group{
    background-color: lightgrey;
}

.btn-outline-primary{
    border-color: #ffffff;
}

.btn-outline-primary:hover{
    border-color: lightgrey;
}

.btn-outline-primary:active{
    border-color: #ffffff;
}

label.primary-news-category{
    background-color: lightgrey;
    display: block;
    color: #ffffff;
    text-decoration: none;
}

a.thumb {
    position: relative;
    float: left;
    display: block;
    width: 156px;
    height: 104px;
    margin-left: 3px; /* 위에 카테고리와 맞추기 */
    margin-right: 20px;
    overflow: hidden;
}

.news-img{
    width: inherit;
    object-fit: cover;
}

a.primary-news-title{
    display: block;
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 4px;
}

a.primary-news-content{
    display: block;
    margin-bottom: 6px;
}

.primary-news-date{
    color: gray;
}

.icon-search{
    width: 35px;
    height: 35px;
    border: none;
}
.news-search-container{
    position: relative;
}
.news-search-input{
    height: 36px;
    margin: 0 0 0 1em;
    padding: 0 42px 0 10px;
    font-size: 13px;
    font-weight: 400;
    width: 360px;
    background-color: #FDFDFD;
    border: 1px solid #E5E5E5;
    border-radius: 2px;
    outline: none;
}

.news-search-btn{
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #BCBCBC;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #FDFDFD;
    border: none;
    outline: none;
    padding: 0;
}

.chip-container{
    clear: both;
    display: block;
    overflow: hidden;
}

.chip-ul{
    padding: 20px;
}

.chip{
    display: inline-block;
    padding: 0 20px;
    height: 36px;
    border-radius: 20px;
    color: #fff !important; /* 안먹어 .. */
    cursor: pointer;
    display:table-cell;
    text-align: center;
    vertical-align: middle;
}

.chip1 {
    background-color: #1F8DEE;
}

.chip2 {
    background-color: #7DB5EA;
}

.chip3 {
    background-color: #438E98;
}

.commercial{
    margin-left: 20px;
    background-color: lightgrey;
    width: 360px;
    height: 800px;
    color: #fff;
}

div.pagination {
    padding-left: 20px;
    margin-top: 40px;
    height: 28px;
    line-height: 28px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

div.page{
    background-color: #FDFDFD;
    color: #2C2C2C;
    border-radius: 2px;
    border: 1px solid #E5E5E5;
    outline: none;
    text-align: center;
    font-weight: 400;
    transition: background-color .2s,border .2s,color .2s,opacity .2s;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    white-space: nowrap;
}

div.pages div.page{
    float: left;
    width: 28px;
    height: 28px;
    line-height: 28px;
    font-weight: 400;
    text-align: center;
    color: #787878;
    cursor: pointer;
    margin-right: 4px;
}